.myButton {
    display: flex;
    justify-content: center;
    align-items: center;

    &__btn {
        padding: 10px 20px;
        color: white;
        font-weight: 700;
        background-color: #377DFF;
        border-radius: 10px;
    }
}