.dashboard {
  background-color: #f5f6fa;
  display: flex;
  justify-content: center;
  height: 100%;

  .wrapper {
    padding: 40px 30px;
    height: auto;
    display: block;
    margin: 0 auto;
    .welcomeBlock {
      width: 100%;
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;

      .title {
        font-size: 2rem;
        min-width: max-content;
        font-weight: 700;
        text-align: center;
      }
      .hiImg {
        width: 25px;
        height: 25px;
        display: block;
      }
    }
    .imgWrapper {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .image {
    width: 100%;
    height: auto;
  }
}

/*========================================================*/

@media screen and (max-width: 1023px) {
  .wrapper {
    padding: 40px 30px;
  }
}
@media screen and (max-width: 767px) {
  .dashboard {
    .wrapper {
      .welcomeBlock {
        .title {
            font-size: 135%;
        }
        // .hiImg {
        //     width: 15px;
        //     height: 15px;
        //   }
      }
    }
  }

  // .imgWrapper {
  //     width: 300px;
  //   }
}
