.languagesSwitcher {
    background: rgba(128, 128, 128, 0.105);
    position: relative;
    margin: 0 25px 0 0;
    padding: 0 1rem;
    height: 40px;
    width: 150px;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;  
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    .languageBlock {
        display: flex;  
        gap: 0.5rem;
        justify-content: space-between;
        align-items: center;
        .flagImg{
            width: 25px;
            height: 25px;
        }
    }
    .arrow {
        transition: transform 0.3s;
    }
    .arrowDeg {
        transform: rotate(-90deg);
    }
    .selectPanel {
        position: absolute;
        bottom: -105px;
        right: 0;
        background: white;
        border: 1px solid rgba(128, 128, 128, 0.321);
        border-radius: 5px;
        .languageSwitcherPanel {
        }
    }
}