.headerBlock {
    padding: 20px 0 0 0;
    background-color: #F5F6FA;

    .titleBtnBlock {
        display: flex;
        justify-content: space-between;
        padding: 0 0 20px 0;

        .title {
            .text {
                font-size: 24px;
                font-weight: 700;
                line-height: 1.88rem;
                color: #333333;
            }
        }

        .filterBlock {}
    }

    .searchBlock {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/*===================================================================*/

@media screen and (min-width:767px) and (max-width:1023px) {

}
@media screen and (max-width:767px) {
    .headerBlock {
        .titleBtnBlock {
            display: flex;
            flex-direction: column;
            .title {
                padding-bottom: 1.5rem;
                .text {
                }
            }
        }
        .searchBlock {
            display: flex;
            flex-direction: column;
            align-items: start;
        }
    }
}

@media (max-width:480px) {
    .headerBlock {
        padding: 0px;
    }
}