.addJobInput {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &__label {
        font-size: 1.2rem;
        font-weight: 300;
    }
    &__textarea {
        font-weight: 300;
        height: 50px;
        font-size: 16px;
        color: inherit;
        width: 390px;
        background: rgba(0, 0, 0, 0.023);
        border-radius: 5px;
        border: 1px solid grey;
        padding: 0.75rem 1rem;

        &:focus {
            transition: all ease-in-out 0.2s;
            border: 1px solid grey;
            outline: 0;
            box-shadow: 0 0 0 1px grey;
        }
    }
    &__input {
        font-size: 18px;
        color: inherit;
        width: 390px;
        height: 50px;
        background: rgba(0, 0, 0, 0.023);
        border-radius: 5px;

        &:focus {
            transition: all ease-in-out 0.2s;
            border: 1px solid grey;
            outline: 0;
            box-shadow: 0 0 0 1px grey;
        }
    }
}
.errors {
    color: red;
}
.errorsWrapper {
    height: 20px;
}

@media (max-width:1200px) {
    .addJobInput {
        width: 100%;
        &__textarea {
            min-width: 100%;
        }
    }
}
@media (max-width:992px) {}
@media (max-width:768px) {}
@media (max-width:480px) {
    .addJobInput {
        min-width: 100%;
        &__textarea {
            max-width: 250px;
        }
    }
}
@media (max-width:320px) {}