.jobs {
    background-color: #F5F6FA;
    padding: 20px 30px 0px 30px;
    min-height: 100vh;
}
/*===========*/
.itemBlock {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &__newVacancy {
        cursor: pointer;
        display: flex;
        gap: 2px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 256px;
        height: 270px;
        border: 1px dashed #8F8F8F;
        border-radius: 10px;
    }
    &__newVacancyBtnAdd {
        stroke: #38CB89;
    }
    &__newVacancyText {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.414rem;
        color: #38CB89;
    }
}
input {
    width: 200px;
    height: 30px;
    border: 1px solid #8F8F8F;
    border-radius: 2px;
}
.loaderThreeLine {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}