.candidates {
    background-color: #F5F6FA;
    

    .wrapper {
        padding: 20px 30px 50px 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        min-height: 100vh;

        .headerBlock {
            flex: 0 1 auto;
        }
        .candidatesBlock {
            flex: 1 1 auto;
            .criteriaBlock {
                padding: 0 0 0 15px;
                display: flex;
                background: #FFFFFF;
            }
        }
        .paginationWrapper {
            display: flex;
            justify-content: center;
        }
    }
}