.closedMenu {
    display: block;
}
.navbar {

    width: 266px;

    .wrapper {
        padding: 0 15px;
        min-height: 100vh;
        background-color: #FFFFFF;
        color: #B2B2B2;
        position: fixed;
        top: 80px;
        z-index: 20;
    }
}

.menu {
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Cera Pro';
    padding: 10px 0 0 37px;
    color: #333333;

    &__itemLink {
        color: inherit;
        padding: 32px;
        width: 236px;
        height: 44px;
        display: flex;
        align-items: center;
    }
}

.menu__itemLink {
    color: inherit;
    padding: 32px;
    width: 236px;
    height: 44px;
    display: flex;
    align-items: center;
}

.menu__itemLink:nth-child(1) {}

/*=====================*/
.recruitment {
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Cera Pro';
    padding: 30px 0 0 37px;
    color: #333333;
}

.organization {
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Cera Pro';
    padding: 30px 0 0 37px;
    color: #333333;
}

/*===================================================================*/

@media screen and (min-width:767px) and (max-width:1023px) {

}
@media screen and (max-width:767px) {
    .closedMenu {
        display: none;
    }
    .navbar {
        width: 0px;
        .wrapper {
            position: fixed;
        }
    }
}