    // #sidebar-menu a.active {
    //     background-color: #377DFF;
    //     color: white;
    // }
    // #sidebar-menu a.active .icon * {
    //     fill: #FFFFFF;
    // }
#sidebar-recruitment a.active {
    background-color: #377DFF;
    color: white;
}
#sidebar-recruitment a.active .icon * {
    fill: #FFFFFF;
}
#sidebar-organization a.active {
    background-color: #377DFF;
    color: white;
}
#sidebar-organization a.active .icon * {
    fill: #FFFFFF;
}
/*===========================*/
.nav {
    padding: 12px 0 0 0;
}
.itemLink {
    padding: 0 0 0 24px;
    color: inherit;
    width: 236px;
    height: 44px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.icon * {
    fill: #C4C4C4;
}
.item {
    padding: 0 0 0 12px;
}
/*===========================*/
.menu__nav {
    padding: 12px 0 0 0;
}

.menu__list {}

.menu__itemLink {
    color: inherit;
    width: 236px;
    height: 44px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.menu__item {
}
.itemLinkActive {
    background-color: #377DFF;
    color: white;
}
#sidebar-menu .itemLinkActive .icon * {
    fill: #FFFFFF;
}
#sidebar-recruitment .itemLinkActive .icon * {
    fill: #FFFFFF;
}
/*=============================*/