.header {
    width: 100%;
    height: 80px;
    grid-area: h;
    display: flex;
    align-items: center;

    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        padding: 0 0 0 45px;
        display: flex;
        align-items: center;
    }

    &__logoLink {
        padding-left: 20px;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__logoWrapperCreate {
        display: flex;
        align-items: center;
    }

    &__logoLink img {
    }

    &__logoCreate {
    }

    &__logoText {
        font-size: 20px;
        font-weight: 600;
        color: #333333;
        font-family: 'Inter', sans-serif;
    }

    &__blockWrapper {
        display: flex;
        gap: 50px;
        padding: 0 15px 0 0;
    }

    &__searchingForm {
        display: flex;
        align-items: center;
    }

    &__searchingInput {
        font-family: 'Cera Pro';
        width: 299px;
        height: 40px;
        border-radius: 10px 0 0 10px;
        background-color: #FAFBFC;
        padding: 0 0 0 20px;
    }

    &__searchingBtn {
        width: 40px;
        height: 40px;
        background-color: #377DFF;
        border-radius: 0 10px 10px 0;
    }

    &__userBlock {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .languagesSwitcher {
            margin: 0 25px 0 0;
            height: 40px;
            width: 130px;
            border: 1px solid grey;
            border-radius: 5px;
            display: flex;  
            justify-content: right;
            align-items: center;

            .select {
                padding: 0 0.3rem 0 0 ;
                .option {
                    .label {
                        height: 40px;
                        width: 130px;
                    }
                }
            }
        }

        .line {
            width: 1px;
            height: 100%;
            background-color: grey;
        }
    }
    &__loginBtn {
        width: 30px;
        height: 15px;
        color: white;
        background-color: #377DFF;
        border-radius: 10px;
    }
    &__loginBtn {
        width: 30px;
        height: 15px;
        color: white;
        background-color: #377DFF;
        border-radius: 10px;
    }
    &__avatarWrapper {
        display: flex;
        gap: 10px;
    }
    .button {
        background-color: white;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        .title {
            color: #333333;
            font-size: 1rem;
            font-weight: 700;
        }
    }
}

@media only screen and (max-width: 992px) {
    .header {
        &__searchingInput {
            width: 250px;
        }
    }
}
@media only screen and (max-width: 768px) {
    .header {
        &__searchingInput {
            width: 150px;
            height: 30px;
        }
        &__searchingBtn {
            width: 30px;
            height: 30px;
        }
        &__blockWrapper {
            padding: 0 15px 0 0;
            gap: 20px;
        }
        &__userBlock {
            gap: 10px;
        }
    }
}