/*=====BURGER==*/
.burgerBtn {
    margin: 15px 0px 15px 10px;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 12px;
    left: 15px;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        width: 25px;
        background-color: black;
        height: 1px;
    }

    &__middleLine {
        display: inline-block;
        position: absolute;
        width: 25px;
        top: 13px;
        background-color: black;
        height: 2px;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 25px;
        background-color: black;
        height: 1px;
    }
}

/*=============*/
