.candidate {
    margin: 2px 0;
    min-width: max-content;
    color: #333333;
    height: 54px;

    .wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        background-color: white;
        padding: 0 15px;

        .name {
            height: 100%;
            flex: 0 0 19%;
        }

        .position {
            height: 100%;
            flex: 0 0 19%;
        }

        .location {
            height: 100%;
            flex: 0 0 19%;
        }

        .birthDate {
            height: 100%;
            flex: 0 0 19%;
        }
        .mobileNumber {
            height: 100%;
            flex: 0 0 19%;
        }
        .deleteBtn {
            height: 100%;
            flex: 0 0 50px;
        }
    }
}
.text {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
}

/*===================================================================*/
@media screen and (max-width:1023px) {    
}
@media (max-width:1200px) {
}
@media (max-width:992px) {
    .candidate {   
        .wrapper {
            .name {
                flex: 0 0 150px;
            }
    
            .position {
                flex: 0 0 150px;
            }
    
            .location {
                flex: 0 0 150px;
            }
    
            .birthDate {
                flex: 0 0 150px;
            }
            .mobileNumber {
                flex: 0 0 150px;
            }
            .deleteBtn {
                flex: 0 0 50px;
            }
        }
    }
}
@media (min-width:768px) {
}
@media (min-width:480px) {
}
@media (min-width:320px) {
}
