.candidate {
    margin: 2px 0;
    color: #333333;
    background-color: #fff;
    height: 54px;
    
    &__wrapper {
        padding: 0 0 0 55px; 
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__candidateBlock {
        flex: 0 1 186px;
        display: flex;
        align-items: center;
        gap: 5px;
    }
    &__candidateAvatar {
        width: 32px;
        height: 32px;
        background-color: #FF5630;
        border-radius: 50%;
    }
    &__candidateName {
        font-size: 16px;
        color: #333333;
    }
    &__ratingBlock {
        flex: 0 1 186px;
        display: flex;
        align-items: center;
        gap: 6px;
    }
    &__ratingBlockWrapper {
        padding: 5px 5px 5px 8px;
        display: flex;
        align-items: center;
        gap: 6px;
        border: 1px solid #F0F0F0;
        border-radius: 10px;
    }
    &__stageBlock {
        display: flex;
        flex-direction: column;
        flex: 0 1 186px;
        gap: 3px;
    }
    &__stage {
        padding: 3px 0px;
    }
    &__rectangleWrapper {
        display: flex;
        gap: 2px;
    }
    &__date {
        flex: 0 1 186px;
    }
    &__ratingStar {}
    &__starGrey {
        fill: #C4C4C4;
    }
    &__starYellow {
        fill: #FFA600;
    }
    &__rating {}
    &__ownerBlock {
        flex: 0 1 186px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__ownerAvatar {
        width: 32px;
        height: 32px;
        background-color: rgb(37, 122, 192);
        border-radius: 50%;
    }
}
/*=======================*/
@media only screen and (max-width: 1200px) {
    .candidate {
        height: 40px;
    }
}
@media only screen and (max-width: 992px) {
    .candidate {
        margin: 0px;
        background-color: #fff;
        height: 250px;
        padding: 0 10px;
        display: flex;
    
        &__wrapper {
            padding: 0 0 0 0; 
            width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
    }
}