.starGrey {
    fill: #C4C4C4;
}
.starYellow {
    fill: #FFA600;
}
//===============//
.secondary {
    fill: #56CCF2;
}
.yellow {
    fill: #FFA600;
}
.orange {
    fill: #FF5630;
}
.blue {
    fill: #377DFF;
}
.green {
    fill: #38CB89;
}
.l-green {
    fill: #a6dac1;
}
.strock {
    fill: #F0F0F0;
}
