.navbar {
    width: 64px;
    
    .wrapper {
        position: fixed;
    top: 80px;
    background-color: white;
    width: 64px;
    z-index: 20;
    min-height: 100vh;
    }
}
.recruitment {
    margin: 0 auto;
    width: 80%;
    height: 1px;
    background: #C4C4C4;
    border-radius: 10px;

}

.organization {
    margin: 0 auto;
    width: 80%;
    height: 1px;
    background: #C4C4C4;
    border-radius: 10px;
}

/*========================================================*/

@media screen and (min-width:767px) and (max-width:1023px) {

}
@media screen and (max-width:767px) {
    .navbar {
        display: none;
    }
}