.recruitment {
    width: 80%;
    height: 1px;
    background: #C4C4C4;
    border-radius: 10px;

}

.organization {
    width: 80%;
    height: 1px;
    background: #C4C4C4;
    border-radius: 10px;
}