.login {
    background-color: #F5F6FA;
    font-family: 'Cera Pro';
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__loading {
        font-size: 30px;
        font-weight: 900;
    }
    &__wrapper {
        padding: 50px 100px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 20px;
    }
    &__title {
        padding: 20px 0px;
        font-size: 30px;
        font-weight: 500;
        color: #000;
        line-height: 1.2;
        text-align: center;
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .inputWrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .inputLabel{
                font-size: 1.2rem;
                color: #000;
            }
        }
    }
    &__input {
        color: inherit;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.1em;
        color: #1870a3;
        width: 390px;
        height: 62px;
        border-radius: 5px;
        padding: 0px 15px;

        &::placeholder {
            color: #1870a3;
        }

        &:focus {
            transition: all ease-in-out 0.2s;
            border: 2px solid #1870a3;
            outline: 0;
            box-shadow: 0 0 0 1px #1870a3;
        }
    }
    &__checkBox {
        display: flex;
        align-items: center;
        gap: 5px;
        
    }
    &__inputRememberMe {
        width: 20px;
        gap: 20px;
    }
    &__labelCB {
        color: grey;
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Cera Pro';
        width: 390px;
        height: 62px;
        border-radius: 5px;
        background-color: #377DFF;
        color: white;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.1em;
        line-height: 1.2;
    }
    &__registration {
        font-size: 16px;
        padding: 20px 0 0 0;
        text-align: center;
        color: red;
    }
}