.myButton {
    display: flex;
    justify-content: center;
    align-items: center;

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        padding: 10px 25px;
        color: white;
        font-weight: 500;
        background-color: #377DFF;
        // border: 1px solid #377DFF;
        border-radius: 5px;

        .btnIcon {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 0px 0 0;
        }
    }
}