/*Обнулення стилів*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*============================================================================================================*/

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro Medium'), local('Cera-Pro-Medium'),
        url('../src/assets/fonts/CeraPro-Medium.woff2') format('woff2'),
        url('../src/assets/fonts/CeraPro-Medium.woff') format('woff'),
        url('../src/assets/fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro Bold'), local('Cera-Pro-Bold'),
        url('../src/assets/fonts/CeraPro-Bold.woff2') format('woff2'),
        url('../src/assets/fonts/CeraPro-Bold.woff') format('woff'),
        url('../src/assets/fonts/CeraPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro Light'), local('CeraPro-Light'),
        url('../src/assets/fonts/CeraPro-Light.woff') format('woff'),
        url('../src/assets/fonts/CeraPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


.app-wrapper {
	font-family: 'Cera Pro';
	font-weight: 400;
	padding: 0 0 0 15px;
	display: grid;
	grid-template-areas: 
	"h h"
	"n m";
	grid-template-columns: auto 1fr;
}
.header {
}
.navBar {
}
.main-content {
}
.login-block {
	font-family: 'Cera Pro';
	font-weight: 700;
}

